<aside class="sidebar">
  <section>
    <h1>Sidebar of Social Flair</h1>
    <p>
      <a target="_blank" style="white-space: normal" href="http://stackoverflow.com/users/267263/bill-agee">
        <img src="http://stackoverflow.com/users/flair/267263.png" width="208" height="58" alt="profile for Bill Agee at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Bill Agee at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
      </a>
      <!--
      <br />
      <a target="_blank" href="https://www.linkedin.com/pub/bill-agee/0/908/3b8" style="text-decoration:none;"><span style="font: 80% Arial,sans-serif; color:#0783B6;"><img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="20" height="15" alt="View Bill Agee's LinkedIn profile" style="vertical-align:middle;" border="0">&nbsp;View Bill Agee's profile</span></a>
      -->
    </p>
  </section>

  {% include '_includes/twitter_sidebar.html' %}

  <!--
  {% include '_includes/gplus_sidebar.html' %}
  -->
  {% include '_includes/github.html' %}
  <!--
  {% include '_includes/social.html' %}
  -->

  <section>
    <h1>Recent Posts</h1>
    <ul id="recent_posts">
      {% for article in articles[:5] %}
      <li class="post">
          <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title|striptags }}</a>
      </li>
      {% endfor %}
    </ul>
  </section>
  {% if SIDEBAR_IMAGE %}
  <section>
	  <img src="{{ SITEURL }}/{{ SIDEBAR_IMAGE }}" alt="{{ SIDEBAR_IMAGE_ALT}}" width="{{SIDEBAR_IMAGE_WIDTH}}"/> 
  </section>
  {% endif %}
  {% if categories %}
  <!--
  <section>
      
    <h1>Categories</h1>
    <ul id="recent_posts">
      {% for category, articles in categories %}
        <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a></li>
      {% endfor %}
    </ul>
  </section>
  -->
  {% endif %} 

  <section>
  <h1>Tags</h1>
  {% for tag, article in tags %}
    <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %},{% endif %}
  {% endfor %}
  </section>

  {% include '_includes/links.html' %}
</aside>
